
#baimon {

	vertical-align: middle;
	position: fixed;
}

.square {

	width: 50px;
	line-height:50px;
	
	border-left: 2px solid black;
	display: inline-block;
	
	cursor: pointer;
	text-align: center;
	font-size: 32px;
}

.square:hover {

	background: #00968875;
}

.disabled {

	cursor: default;
}

.disabled:hover {

	background: #ff00006e;
}

.square:active {

	background: transparent;
}

.square:first-child {

	border-left: none;
}

.alfajor {

	border-bottom: 2px solid black;
}

.alfajor:last-child {

	border-bottom: none;
}

#game {

	margin-top: 220px;
	margin-left: 220px;
	display: inline-block;
}

#ayaka {

	width:600px;
	height:600px;
	vertical-align: middle;
	display: inline-block;
	background-image:url('forehead.jpg');
}

body, #ayaka, .square {

	margin: 0px;
}

input {

	font-size:48px;
	width: 600px;
	display: block;
	text-align: center;
	padding: 0px;
	border: none;
	background: #f8f8f8;
	padding-bottom: 30px;
}

#wombat {

	font-size: 48px;
	width: 600px;
	background-color: #1a73e8;
	color: white;
	
	cursor: pointer;
}
